<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Symfony 3 Demo</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap-css/css/bootstrap.min.css') }}">
    </head>
    <body>
        {% include 'partials/header.html.twig' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/language.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
